@import "./reset.css";
@import "./theme.css";
@import "./base.css";

body {
  font-family: "SUIT Variable", sans-serif;
}

.button-component {
  .button {
    outline: 0;
    border: 0;
    font-size: var(--xx-small-text);
    padding-block: var(--x-small-spacing);
    padding-inline: var(--small-spacing);
    border-radius: var(--extra-large-text);

    &:focus-visible {
      box-shadow:
        0 0 0 3px var(--white),
        0 0 0 5px var(--blue-300);
    }
    @media (min-width: 1024px) {
      font-size: var(--xx-small-text);
    }
  }
  .button.black.bg-fill {
    color: var(--white);
    background: var(--blue-300);
    border: 1px solid #0000;
  }
  .button.black.bg-empty {
    color: var(--blue-300);
    background: transparent;
    border: 1px solid var(--blue-300);
    &:hover,
    &:focus {
      color: var(--white);
    }
  }
  .button.black {
    &:hover {
      background: var(--blue-200);
    }
    &:focus {
      background: var(--blue-200);
    }
    &:active {
      background: var(--blue-400);
    }
  }
  .button.white.bg-fill {
    color: var(--white);
    background: var(--black-300);
    border: 1px solid #0000;
  }
  .button.white.bg-empty {
    color: var(--black-300);
    background: transparent;
    border: 1px solid var(--black-300);
    &:hover,
    &:focus {
      color: var(--white);
    }
  }
  .button.white {
    &:hover {
      background: var(--black-200);
    }
    &:focus {
      background: var(--black-200);
    }
    &:active {
      background: var(--black-400);
    }
  }
}
.card-component {
  display: grid;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 0;
  background-size: cover;
  .card-link,
  .card-content-wrap {
    grid-area: 1 / 1;
  }
  .card-content-wrap {
    pointer-events: none;
    .button {
      pointer-events: auto;
    }
  }
}
.card-content-wrap {
  color: var(--black-300);
  block-size: var(--size);
  inline-size: 100%;
  padding-block-start: var(--large-spacing);
  gap: var(--small-spacing);
  @media (min-width: 1024px) {
    padding-block-start: var(--extra-large-spacing);
  }
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  .card-link {
    display: contents;
  }
  .card-title {
    font-size: var(--large-text);
    font-weight: 600;
    @media (min-width: 1024px) {
      font-size: var(--extra-large-text);
    }
  }
  .card-subtitle {
    text-align: center;
    font-size: var(--medium-text);
    @media (min-width: 1024px) {
      font-size: var(--medium-text);
      br {
        display: none;
      }
    }
  }
  .card-remark {
    margin-block-start: var(--x-small-spacing);
    font-size: var(--small-text);
    color: var(--gray);
  }
  .card-button-wrap {
    display: flex;
    flex-flow: row nowrap;
    gap: var(--base-spacing);
    justify-content: center;
  }
}
.card-component.black .card-content-wrap {
  color: var(--white);
}

/* 헤더 */
.header-item-link {
  display: inline-block;
  padding-inline: 1em;
  inline-size: 2em;
  @media (min-width: 834px) {
    padding-inline: 0.5em;
    inline-size: auto;
  }
  .header-item-content {
    font-size: 0.75rem;
    svg {
      vertical-align: middle;
    }
  }
}

.header {
  background-color: rgb(250, 250, 252, 0.8);
  position: sticky;
  inset-block-start: 0;

  .header-list {
    block-size: 3em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    @media (min-width: 834px) {
      block-size: 2.75em;
    }
    .header-item {
      vertical-align: middle;
    }
  }
}
