@import "./reset.css";
@import "./theme.css";
@import "./base.css";

.button-component {
  .button {
    outline: 0;
    border: 0;
    font-size: var(--xx-small-text);
    padding-block: var(--x-small-spacing);
    padding-inline: var(--small-spacing);
    border-radius: var(--extra-large-text);

    &:focus-visible {
      box-shadow:
        0 0 0 3px var(--white),
        0 0 0 5px var(--blue-300);
    }
    @media (min-width: 64rem) {
      font-size: var(--xx-small-text);
    }
  }
  .button.black.bg-fill {
    color: var(--white);
    background: var(--blue-300);
    border: 1px solid #0000;
    /* &:hover {
      background: var(--blue-200);
    }
    &:focus {
      background: var(--blue-200);
    }
    &:active {
      background: var(--blue-400);
    } */
  }
  .button.black.bg-empty {
    color: var(--blue-300);
    background: transparent;
    border: 1px solid var(--blue-300);
    &:hover,
    &:focus {
      color: var(--white);
    }
    /* &:hover {
      color: var(--white);
      background: var(--blue-200);
    }
    &:focus {
      color: var(--white);
      background: var(--blue-200);
    }
    &:active {
      color: var(--white);
      background: var(--blue-400);
    } */
  }
  .button.black {
    &:hover {
      background: var(--blue-200);
    }
    &:focus {
      background: var(--blue-200);
    }
    &:active {
      background: var(--blue-400);
    }
  }
  .button.white.bg-fill {
    color: var(--white);
    background: var(--black-300);
    border: 1px solid #0000;
    /* &:hover {
      background: var(--black-200);
    }
    &:focus {
      background: var(--black-200);
    }
    &:active {
      background: var(--black-400);
    } */
  }
  .button.white.bg-empty {
    color: var(--black-300);
    background: transparent;
    border: 1px solid var(--black-300);
    &:hover,
    &:focus {
      color: var(--white);
    }
    /* &:hover {
      color: var(--white);
      background: var(--black-200);
    }
    &:focus {
      color: var(--white);
      background: var(--black-200);
    }
    &:active {
      background: var(--black-400);
    } */
  }
  .button.white {
    &:hover {
      background: var(--black-200);
    }
    &:focus {
      background: var(--black-200);
    }
    &:active {
      background: var(--black-400);
    }
  }
}

.card-component {
  background-color: #fff;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-size: cover;
  object-fit: cover;
  color: var(--black-300);
  block-size: var(--size);
  inline-size: 100%;
  padding-block-start: var(--large-spacing);
  gap: var(--small-spacing);
  @media (min-width: 64rem) {
    padding-block-start: var(--extra-large-spacing);
  }
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  .card-link {
    display: contents;
  }
  .card-title {
    font-size: var(--large-text);
    font-weight: 600;
    @media (max-width: 64rem) {
      font-size: var(--extra-large-text);
    }
  }
  .card-subtitle {
    text-align: center;
    /* line-height: var(--line-normal); */
    font-size: var(--medium-text);
    @media (max-width: 64rem) {
      font-size: var(--medium-text);
    }
  }
  .card-remark {
    margin-block-start: var(--x-small-spacing);
    font-size: var(--small-text);
  }
  .card-button-wrap {
    display: flex;
    flex-flow: row nowrap;
    gap: var(--base-spacing);
    justify-content: center;
  }
}
.card-component.black {
  /* background-color: #000; */
  color: var(--white);
}
