/* CSS를 활용하여 레이아웃 및 스타일링을 완성해주세요 */
@import url(../components/component_login.css);

:root {
  /* length */
  --length500: 31.25rem;

  /* gap */
  --gap10: 0.625rem;
  --gap20: 1.25rem;
  --gap45: 2.8125rem;
  --gap70: 4.375rem;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: "Spoqa Han Sans Neo", sans-serif;
}

.wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  .logo-wrap {
    inline-size: 100%;
    margin-block-start: var(--gap70);
  }

  .form-wrap {
    padding-inline: var(--gap20);
    inline-size: 100%;
    font-size: 0;
    box-sizing: border-box;

    @media (min-width: 48rem) {
      inline-size: var(--length500);
    }
    .email-wrap {
      margin-block-start: var(--gap45);
    }

    .password-wrap {
      margin-block-start: var(--gap10);
    }

    .login-button-wrap {
      margin-block-start: var(--gap20);
    }

    .checkbox-wrap {
      margin-block-start: var(--gap10);
      display: flex;
      flex-flow: row nowrap;
      justify-content: end;

      @media (min-width: 48rem) {
        justify-content: space-between;
      }

      [class$="-wrap"]:last-child {
        display: none;

        @media (min-width: 48rem) {
          display: flex;
          flex-flow: row nowrap;
        }
      }
    }
  }
}
