/* CSS를 활용하여 레이아웃 및 스타일링을 완성해주세요 */

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: "Spoqa Han Sans Neo", sans-serif;
  --color: #121212;
  --border-color-input: #dadada;
  --color-focus: #24388d;
  --color-primary: #03cf5d;
  --color-input-focus-background-color: #e9f0fd;
  --gap-form: 1.25rem;
  --border-weight: 0.0625rem; /* 1px */
}
.wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  .logo-wrap {
    inline-size: 100%;
    margin-block-start: 4.375rem;
    .logo {
      text-align: center;
      margin: 0;
    }
    figcaption {
      display: none;
    }
  }

  .form-wrap {
    padding-inline: var(--gap-form);
    inline-size: 100%;
    font-size: 0;
    box-sizing: border-box;
    /* .email-wrap,
    .password-wrap,
    .button-wrap,
    .checkbox-wrap {
    } */
    @media (min-width: 48rem) {
      inline-size: 31.25rem;
    }
    .email,
    .password {
      inline-size: 100%;
      font-size: 0.875rem;
      block-size: 2.8125rem;
      border: var(--border-weight) solid var(--border-color-input);
      background-color: #fff;
      box-sizing: border-box;
      outline: 0;
    }
    .email:focus,
    .password:focus {
      border-color: var(--color-primary);
      background-color: var(--color-input-focus-background-color);
    }
    .email-wrap {
      margin-block-start: 2.8125rem;
    }
    .password-wrap {
      margin-block-start: 0.625rem;
    }
    .button-wrap {
      margin-block-start: 1.25rem;
      .login-button {
        font-size: 1rem;
        block-size: 2.8125rem;
        inline-size: 100%;
        color: #fff;
        background-color: var(--color-primary);
        border: 0;
      }
    }
    .checkbox-wrap {
      margin-block-start: 0.625rem;
      display: flex;
      justify-content: end;
      @media (min-width: 48rem) {
        justify-content: space-between;
      }
      .login-yuji {
        display: none;
        /* margin-inline-end: 0.375rem; */
      }
      .login-yuji-label {
        padding-inline-start: calc(1.5rem + 0.375rem); /*24px + 5px*/
        font-size: 1rem;
        height: 1.5rem;
        background-image: url(../assets/unchecked.svg);
        background-repeat: no-repeat;
      }
      .login-yuji:checked + .login-yuji-label {
        background-image: url(../assets/checked.svg);
      }
      .ipboan {
        display: none;

        @media (min-width: 48rem) {
          font-size: 1rem;
          color: #121212;
          text-decoration: none;
          display: inline-block;
        }

        .toggle {
          margin-inline-start: 0.5rem;
        }
      }
    }
  }
}
